name: Build macOS Binaries

on:
  push:
    branches: [ "main" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    permissions:
      contents: write
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23' # Or later

    - name: Build macOS AMD64 (Intel)
      run: |
        GOOS=darwin GOARCH=amd64 go build -ldflags="-s -w" -o drive-conf-watch-darwin-amd64 .

    - name: Build macOS ARM64 (Apple Silicon)
      run: |
        GOOS=darwin GOARCH=arm64 go build -ldflags="-s -w" -o drive-conf-watch-darwin-arm64 .
        
    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: drive-conf-watch-macos
        path: |
          drive-conf-watch-darwin-amd64
          drive-conf-watch-darwin-arm64

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          drive-conf-watch-darwin-amd64
          drive-conf-watch-darwin-arm64
